<footer class="page-footer pink darken-4">

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6">
            © 2017 Filosofa78      
        </div>
        <div class="col s6">
          Social
        </div>
      </div>
    </div> 
    </div>
</footer>